.main {
    width: 1024px;
    height: 768px;
    border: black;
    border: 1px solid;
}

h2 {
    text-align: center;
}



.tamanho {
    width: 200px;
    height: 200px;
    border: solid;
}

div2 {
    left: 20px;
}